# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# visual c++
Debug
Release
*.sln
*.vcxproj
*.vcxproj.*
*.opendb

# this project
output
PFilter_direct_color_MEX
/src/Denoising/*.obj
batchingM/*.obj
*.asv
src/OpenMesh/OpenMeshD.lib
